span{
    color:aqua;
    font-size:large; 
}
/*class selector*/
.subhead
{
    font-family: sans-serif;
    font-size: large;
}
/* id selector*/
#para{
    background-color: hotpink;
    color:black;
}
span,.subhead,h1{
    background-color:brown;
}
*{
    background-color: yellow;
}
/*Decendent Selector*/
div p{
    color:green;
}
/*Child Selector*/
div > p{
    color:chartreuse;
}
/*Attribute Selector*/
input[type="text"]{
    color:green;
}
/*Adjacent color*/
h1 + p{
    color:green;
}
/* General Sibling */
h1 ~ p{
    color:black;
}